<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".platform.CalendarApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/full_backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@drawable/ic_calendar"
        android:supportsRtl="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.FinancialCalendar">
        <activity android:name=".platform.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
